body {
    background-color: lightblue;;
}

h1{
    color: red;
    text-align: center;
}

img {
    width: 100%;
}

.form-group {
    margin-top: 20px;
    align-items: center;
    text-align: center;
}